---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="hw-container hw-container--slim hw-container--mt">
    <a class="hw-link" href="">Home</a>
    <div>About page</div>
    <div class="hw-block" style="height:700px"></div>
  </main>
</Layout>
