---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const blogposts = await Astro.glob('../posts/*.md');
const bannerImage = '/house_boat_hdr.jpg'
---

<Layout title="City hikers">
	<main>
		<div class="container">
			<div class="section">
				<h3 class="title is-3 pb-4">All my posts</h3>
			
			<div class="block">
				{blogposts.map(({frontmatter}) => (
           		 <Card className="block" title={frontmatter.title} body={frontmatter.body} 
          			  href={`/${frontmatter.slug}`}/>
        	))}
			</div>
			</div>
		</div>
	</main>
</Layout>