---
import Layout from "./Layout.astro";
const {frontmatter} = Astro.props;
const { title, description, bannerImage }= frontmatter;
---
<Layout title="City hikers">
  <main class="container">
      <h2 class="title is-2 mt-4">{title}</h2>
      <p class="block">{description}</p>
      <div class="content">
        <slot />
      </div>
  </main>
</Layout>
